.searchBox{
    width: 100%;
    background: #f5f5f5;
    outline: none;
    border: none;
    padding: .5rem;
    text-indent: .75rem;
    font-weight: 500;
    font-size: .85rem;
}

.filteredProductsContainer{
    width: 100%;
    height: 29rem;
    position: absolute;
    left: 0;
    top: 5rem;
    z-index: 100;
    padding: 1rem;
    background-color: #d9d9d9;
    color: #000;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.productContainer{
    border: 1px solid #000;
    height: 10rem;
    overflow: hidden;
}

.img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.title{
    margin-top: .25rem;
    width: 6rem;
    text-wrap: balance;
    text-align: center;
    font-size: .7rem;
}

@media (360px <= width <= 860px){
    .filteredProductsContainer{
        top: 9rem;
    }
}

@media (430px <= width <= 1024px) {
    .filteredProductsContainer{
        top: 8rem;
    }
}