.header{
    margin-top: 3rem;
    position: relative;
    padding: 1.5rem 0;
}

.header::after{
    position: absolute;
    bottom: 0;
    content: "";
    background-color: #d9d9d9;
    width: 100%;
    height: 2px;
}

.headerWrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 1rem;
}

h1{
    flex-grow: 1;
}

/* ----- NAVIGATION SECTION ----- */
.headerNav{
    flex-grow: 1;
    font-size: 1.15rem;
    display: flex;
    gap: 5rem;
}

.link{
    text-decoration: underline #0000;
    text-underline-offset: .75rem;
    color: #000;
    transition: text-decoration 200ms, color 200ms;
}
.link:hover{
    color: #666;
    text-decoration-color: #0007;
}

/* ----- ACTIONS SECTION - SEARCH, FAVORITE, CART ----- */
.headerActions{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.searchForm{
    width: 100%;
    flex-grow: 1;
    display: flex;
    background: #f5f5f5;
}

.searchForm :is(input, button){
    background: none;
    outline: none;
    border: none;
    padding: .5rem;
}

.searchForm input{
    text-indent: .75rem;
    font-weight: 500;
    font-size: .85rem;
    flex-grow: 1;
}

.searchForm button{
    cursor: pointer;
}

.searchForm button:hover{
    background: #e0e0e0;
}
