.asideNav{
    min-width: 14rem;
    padding-top: 2rem;
    position: relative;
}

.asideNav::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d9d9d9;
    width: 2px;
    height: 100%;
}

.contentWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link{
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
}