/*------ MAIN COMPONENT ------*/
.bannerSalesContainer{
    padding: .5rem;
    background-color: #000;
    color: #fafafa;
    fill: #fafafa;
    position: relative;
    font-size: 1.05rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/*------ SHOP NOW LINK ------*/
.shopNowLink{
    font-weight: 800;
}

/*------ TOGGLE LANGUAGE COMPONENT ------*/
.toggleLangContainer{
    cursor: pointer;
    position: absolute;
    right: 5rem;
    display: inherit;
    align-items: inherit;
    gap: .75rem;
}

.arrowDownIcon{
    width: 1.25rem;
    height: 1.25rem;
}

.toggleLangCheckbox{
    display: none;
}

.languages{
    z-index: 100;
    background: #000;
    position: absolute;
    left: 3.5rem;
    top: 2rem;

    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}

.lang{
    cursor: pointer;
    border-radius: inherit;
    padding: .5rem .75rem;
}

.lang:hover{
    background: #555;
}

.toggleLangCheckbox:not(:checked) + .languages{
    display: none;
}

/*------ 
    MEDIA QUERIES
------*/
@media (width <= 430px) {
    /*------ MAIN COMPONENT ------*/
    .bannerSalesContainer{
        font-size: .7rem;
        gap: .75rem;

        p{
            text-wrap: balance;
            text-align: center;
        }   
    }

    /*------ TOGGLE LANGUAGE COMPONENT ------*/
    .toggleLangContainer{
        gap: .25rem;
    }

    .arrowDownIcon{
        width: .75rem;
        height: .75rem;
    }

    .languages{
        top: 2.5rem;
    }
}

@media (width <= 1024px){
    /*------ TOGGLE LANGUAGE COMPONENT ------*/
    .toggleLangContainer{
        position: static;
    }

    .languages{
        border-radius: 0;
        flex-direction: row;
        left: initial;
        right: 0;
    }
}

@media (430px <= width <= 1024px) {
    /*------ MAIN COMPONENT ------*/
    .bannerSalesContainer{
        font-size: .9rem;
    }

    /*------ TOGGLE LANGUAGE COMPONENT ------*/
    .languages{
        top: 2.25rem;
    }
}